:root {
  --primary-color: black;
  --secondary-color: yellow;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: var(--secondary-color);
  font-family: "Courier New", Courier, monospace;
  margin: 0;
}

.container {
  margin: auto;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.flex {
  display: flex;
}

input,
button {
  border: 1px solid gray;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type="text"] {
  width: 300px;
}

.search-btn {
  cursor: pointer;
  border-left: 0;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.random-btn {
  cursor: pointer;
  margin-left: 10px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.meals {
  display: grid;
}

@media (max-width: 800px) {
}
@media (max-width: 700px) {
}
@media (max-width: 500px) {
  input[type="text"] {
    width: 100%;
  }
}
